header{
    background-color: #387CAF;
color: rgb(15, 15, 15);
max-width: 800px;
margin: 0 auto;
}

main{
    background-color: cornflowerblue;
color: rgb(0, 0, 0);
text-align: center;
max-width: 800px;
margin: 0 auto;
}
 footer


